@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.categories-section {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.categories-buttons {
  margin-bottom: 20px;
}

.category-button {
  margin: 5px;
  padding: 10px 20px;
  background: linear-gradient(rgb(144, 166, 143) 0%, rgb(144, 166, 143) 100%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover,
.category-button.active {
  background: linear-gradient(rgb(100, 120, 100) 0%, rgb(100, 120, 100) 100%);
}

.filter-input {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.parts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.part-item {
  margin: 10px;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.part-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.part-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background: linear-gradient(rgb(144, 166, 143) 0%, rgb(144, 166, 143) 100%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-buttons button:hover:enabled {
  background: linear-gradient(rgb(100, 120, 100) 0%, rgb(100, 120, 100) 100%);
}

.showBtn {
  color: #fff;
  background: linear-gradient(rgb(144, 166, 143) 0%, rgb(144, 166, 143) 100%);
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showBtn:hover,
.showBtn:active,
.showBtn.active {
  background: linear-gradient(rgb(100, 120, 100) 0%, rgb(100, 120, 100) 100%);
}

.part-actionBtn {
  margin-top: 1rem;
  background: linear-gradient(rgb(144, 166, 143) 0%, rgb(144, 166, 143) 100%);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.part-actionBtn:hover,
.part-actionBtn:active,
.part-actionBtn.active {
  background: linear-gradient(rgb(100, 120, 100) 0%, rgb(100, 120, 100) 100%);
}

.part-prices {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.part-prices span {
  margin: 5px 0;
}

.part-discount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 0.3rem;
  font-size: 0.9rem;
  border-bottom-left-radius: 1rem;
  color: #fff;
  animation: fadeInOut 4s infinite;
}

.part-originalPrice {
  text-decoration: line-through;
  color: red;
  font-style: italic;
}

.part-discountedPrice {
  font-weight: 700;
  font-style: italic;
}
@media (hover: none) {
  button:hover,
  .category-button:hover,
  .pagination-buttons button:hover,
  .showBtn:hover,
  .part-actionBtn:hover {
    background: linear-gradient(rgb(144, 166, 143) 0%, rgb(144, 166, 143) 100%);
  }

  button:active,
  .category-button:active,
  .pagination-buttons button:active,
  .showBtn:active,
  .part-actionBtn:active,
  button:focus,
  .category-button:focus,
  .pagination-buttons button:focus,
  .showBtn:focus,
  .part-actionBtn:focus {
    background: linear-gradient(rgb(100, 120, 100) 0%, rgb(100, 120, 100) 100%);
  }
}
