.mission-section {
  max-width: 80%;
  margin: 0 auto;
}

.mission-section__title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

.mission-section__subtitle {
  font-size: 2em;
  color: #555;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.mission-section__text {
  font-size: 1em;
  color: #666;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left !important;
}
