.passion__section {
  padding-top: 3rem;
}

.passion__item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

.passion__image {
  width: 50%;
}

.passion__text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.passion__text p {
  text-align: left;
}

.passion-2 {
  flex-direction: row-reverse;
  margin-top: -15rem;
}

@media screen and (min-width: 1024px) and (max-width: 1201px) {
  .passion-2 {
    margin-top: -10rem;
  }
}

@media screen and (max-width: 1024px) {
  .passion__item {
    flex-direction: column;
  }

  .passion__image,
  .passion__text {
    width: 100%;
    max-width: 100%;
  }

  .passion__text h1 {
    text-align: center;
  }

  .passion-2 {
    flex-direction: column;
    margin-top: 2rem;
  }
}
